<!DOCTYPE html>
<html lang="en">
  <head>
    <title>전국대학생주짓수대회</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="전국대학생주짓수대회, 전대주, TAP, tap, 이대, 서강대, 주짓수 대회, 대학생 주짓수 대회"
    />
    <meta
      name="description"
      content="전국대학생주짓수대회(전대주) 공식 홈페이지"
    />
    <meta name="author" content="An Hee Jae" />

    <meta
      name="google-site-verification"
      content="q5J7Tnb3fhbq7pnod4T_sAjs4xR3s_DrmCZIufa-FpI"
    />
    <meta
      name="naver-site-verification"
      content="148bf7e028245547a637dbe58cdf52293908f4e3"
    />

    <!--open graph-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="전국대학생주짓수대회" />
    <meta
      property="og:description"
      content="전국대학생주짓수대회(전대주) 공식 홈페이지"
    />
    <meta
      property="og:image"
      content="https://university-bjj-2023.netlify.app/assets/img/main-info/poster(2024).png"
    />
    <meta property="og:url" content="https://university-bjj.netlify.app/" />

    <!-- Favicon-->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./assets/favicon/apple`-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="./assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Core theme CSS -->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/gallery.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      id="mainNav"
      style="background-color: #000000; padding: 10px"
    >
      <div class="container">
        <a class="navbar-brand" href="../index.html#rangking">
          <span style="color: #ffffff; font-size: 2rem">T.A.P</span>
          <span style="color: azure; font-size: 0.8rem">SOGANG x EWHA</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars ms-1"></i>
        </button>
      </div>
    </nav>

    <section class="page-section" id="gallery">
      <div class="container">
        <div class="title">Gallery</div>

        <div class="instruction" style="display: none;">
          <p>
            이미지 팝업창의 왼쪽 부분을 누르면 이전 이미지, 오른쪽을 누르면 다음
            이미지로 넘어갑니다.
          </p>
        </div>

        <div class="contents">
          <div class="temp_gallery">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://mybox.naver.com/share/list?shareKey=34oZJUfrk1aYgUvpcBrMdry_lFC-Y38qy29b2ZBoE4oB"
            >
              드라이브에서 대회 현장 및 경기 사진 확인하기
            </a>
          </div>
          <!-- <div class="photo" id="photo">
            <ul class="img_box"></ul>
            
          </div>

          <div class="btn_box">
            <div class="page_btn"></div>
          </div> -->
        </div>
        <div></div>
      </div>
    </section>
  </body>
</html>
